version: 3.0.0.{build}
image: Visual Studio 2017
nuget:
  project_feed: true
build:
  publish_nuget: true
  publish_nuget_symbols: true
  include_nuget_references: true
  parallel: true
  verbosity: minimal
artifacts:
- path: ./artifacts/*.nupkg
  name: NuGet